body {
    box-sizing: border-box;
}

.admin-page {
    padding: 10px;
    display: flex;
    gap: 5px;
}

.admin-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 3px;
}

.slide-bar {
    height: 98vh;
    width: 20%;
    background-color:#e197dc;
    border-radius: 2px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
   padding: 13px;
    gap: 20px;

    .brand-name {
        display: flex;
    }

    .nav {
        display: flex;
        flex-direction: column;
        gap: 10px;

       span{
        &:hover{
            font-weight: bold;
            cursor: pointer;

        }
       }
    }
}

.main-page {
    height: 98vh;
    width: 80%;
    background-color: #ede8e4;
    border-radius: 2px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex ;
    flex-direction: column;
    gap: 25px;
    position: relative;
}

h3 {
    color: white;
}
i {
    color: white;
}
h3,
h2 {
    margin: 0px;
    margin: 0px;
    font-weight: 600;
    line-height: 32px;
}

.search-input {
    width: 100%;
    border: none;
    padding: 3px 16px;
    border-radius: 9px;
    outline: none;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid 
    #cfcbc4
    ;
}

.logOut {
    width: 100px;
    height: 32px;
    background-color:#e197dc;
    color: white;
    border: none;
    font-weight: 500px;
    border-radius: 10px;
}

// .user-details{
//     display: flex;
//     flex-direction: column;
// }